*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --text-font: 'Montserrat', sans-serif;
  --font-size: 1.5rem;
  font-size: 62.5%;
}

body {
  padding: 2rem;
  font-family: var(--text-font);
  font-size: var(--font-size);
}
